<span class="anchor" id="home_a"></span>
<div id="home" class="align_center">	
	<div class="container">
		<h1>Welcome to My Blog!</h1>
		<h2>This is a HOME section.</h2>
	</div>

</div>

<span class="anchor" id="about_a"></span>
<div id="about" class="align_center">
	<div class="container">
		<h1>This is an ABOUT section.</h1>
	</div>
</div>

<span class="anchor" id="contact_a"></span>
<div id="contact" class="align_center">
	<div class="container">
		<h1>This is a CONTACT US section.</h1>
	</div>
</div>